* {
	margin: 0;
	padding: 0;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	box-shadow: inset 0 0 5px 5px rgba(255, 255, 255, 0.1);
	background: #141414 radial-gradient(ellipse at center, rgba(255, 176, 0, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
	z-index: -1;
}

#terminal {
	width: 95%;
	height: 95%;
	margin: 2em;
	overflow-y: scroll;
	font-family: monospace;
	color: #ffb000;
	text-shadow: 1px 1px 1px rgba(255, 176, 0, 0.5);
}

input {
  background-color: transparent;
  border: none;
	color: #ffb000;
  width: 100%;
}

input:focus-visible {
  outline: none;
}

form {
  display: flex;
}

#prompt {
	color: #141414;
	background-color: #ffb000;
	font-style: normal;
}

#input {
  display: inline-block;
  width: 100%;
  margin-left:5px;
}

